<h1> Discover pokemons! </h1>

<h3> This is your chance to catch and learn about new pokemons! </h3>

<img src="<%= @pokemon.sprites.front_default %>" style="width: 300px;">

<h4>Who is that Pokemon?</h4>

<%= form_with yaml: @pokemon do |form| %>
  <div>
    <%= form.label :expected_name %><br>
    <%= form.text_field :expected_name %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>

<button onClick="verify()">  Submit </button>

<script>

    function verify(){
        console.log("<%= @pokemon.name%>")
        console.log("<%= @pokemon %>")
        console.log(<%= validName?(@pokemon.name, @guess)%>);
    }
</script>


