<h1> Catch pokemons! </h1>

<h3> This is your chance to catch and learn about new pokemons! </h3>

<img src="<%= @pokemon.sprites.front_default %>" style="width: 300px;">

<h4>Who is that Pokemon?</h4>

<%= form_with model: @guess, url: create_pokemon_path(order: @pokemon.order, expected_name:@pokemon.name) do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.submit "Catch" %>
  </div>
<% end %>

<%= link_to "Home", trainers_path%>